<!DOCTYPE html>
<html ng-app="app">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset='utf-8'>
    <title>IB Questionbank</title>
    <link rel="stylesheet" media="all" href="static/assets/application-746ec5d03ead8d9e8b3bb7d32173f2b4e2e22a05f0c5278e086ab55b3c9c238e.css" />
    <link rel="stylesheet" media="print" href="static/assets/print-6da094505524acaa25ea39a4dd5d6130a436fc43336c0bb89199951b860e98e9.css" />
    <script src="static/assets/application-3c91afd8a2942c18d21ed2700e1bdec14ada97f1d3788ae229315e1276d81453.js"></script>
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML-full"
        async></script>

    <!-- <link rel="stylesheet" href="static/css/bootstrap.css" /> -->
    <link rel="stylesheet" href="static/css/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.js"></script>
    <script type="text/javascript" src="static/js/app.js"></script>

    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="lOO+LM8SvJSlZ4+vV/Fb64JisgoofLaLo875K18OsWrFFiH6gMyrrcwwPB3Ey50nksp+sQHedPp22W2vTlqN6Q==" />
    <link href="static/images/favicon.ico" rel="shortcut icon">
</head>
<body class='teacher syllabus_sections-index' ng-controller="myController" ng-init="subject='Physics'">
    <div class='navbar navbar-fixed-top'>
        <!-- <div class='navbar-inner'> -->
            <div class='container'>
                <ul class='nav'>
                    <li class='active dropdown'>
                        <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                            Questionbanks
                            <b class='caret'></b>
                        </a>
                        <ul class='dropdown-menu'>
                            <li>
                                <a ng-click="subject='Physics'" target="_blank">Physics</a>
                            </li>
                            <li>
                                <a ng-click="subject='Geography'" target="_blank">Geography</a>
                            </li>
                            <li>
                                <a ng-click="subject='Chemistry'" target="_blank">Chemistry</a>
                            </li>
                            <li>
                                <a ng-click="subject='Biology'" target="_blank">Biology</a>
                            </li>
                            <li>
                                <a ng-click="subject='FurtherMathHL'" target="_blank">Further Mathematics HL</a>
                            </li>
                            <li>
                                <a ng-click="subject='MathHL'" target="_blank">Mathematics HL</a>
                            </li>
                            <li>
                                <a ng-click="subject='MathSL'" target="_blank">Mathematics SL</a>
                            </li>
                            <li>
                                <a ng-click="subject='MathStudies'" target="_blank">Mathematical Studies</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        <!-- </div> -->
    </div>

    <div class='page-content container'>

        <div class='page-header'>
            <div class='row'>
                <div class='span16'>
                    <h1>{{ subject }} Questionbank</h1>
                </div>
            </div>
        </div>

        <table style="width:100%">
            <tr>
                <th>
                    <select id="year-select" ng-model="selectedYear" ng-init="selectedYear=' Year'" ng-options="year for year in years"></select>
                </th>
                <th>
                    <select id="session-select" ng-model="selectedSession" ng-init="selectedSession=' Session'" ng-options="session for session in sessions"></select>
                </th>
                <th>
                    <select id="paper-select" ng-model="selectedPaper" ng-init="selectedPaper=' Paper'" ng-options="paper for paper in papers"></select>
                </th>
                <th>
                    <select id="level-select" ng-model="selectedLevel" ng-init="selectedLevel=' Level'" ng-options="level for level in levels"></select>
                </th>
                <th>
                    <select id="tzs-select" ng-model="selectedTZ" ng-init="selectedTZ=' TZ'" ng-options="tz for tz in tzs"></select>
                </th>
                <th>
                    <select id="outer-section-select" ng-model="selectedOuterSection" ng-init="selectedOuterSection=' Topic'" ng-options="outerSection for outerSection in outerSections"></select>
                </th>
                <th>
                    <select id="inner-section-select" ng-model="selectedInnerSection" ng-init="selectedInnerSection=' Subtopic'" ng-options="innerSection for innerSection in innerSections"></select>
                </th>
                <th>
                    <select id="inner-inner-section-select" ng-model="selectedInnerInnerSection" ng-init="selectedInnerInnerSection=' Subsubtopic'" ng-options="innerInnerSection for innerInnerSection in innerInnerSections"></select>
                </th>
            </tr>
        </table>

        <div class="wrapper">
            <button ng-click="generatePaper()">Generate Paper</button>
            <button ng-click="generateMarkscheme()">Generate Markscheme</button>
        </div>

        <table style="width:100%">
            <tr>
                <th class="listcol">
                    <p ng-repeat="x in questions | filter : applyFilters()">
                        <span style="cursor: pointer" ng-click="addQuestion(x)">&nbsp;&nbsp;&rarr;&nbsp;&nbsp;&nbsp;</span><a ng-style="x.id == selectedQuestion ? {'background-color': '#343a40', 'color': 'white'} : {'color': 'black'}" ng-click="selectQuestion(x)">{{ x.id }}</a>
                    </p>
                </th>
                <th class="listcol">
                    <p ng-repeat="x in addedQuestions">
                        <span style="cursor: pointer" ng-click="removeQuestion(x)">&nbsp;&nbsp;&larr;&nbsp;&nbsp;&nbsp;</span><a ng-style="x.id == selectedQuestion ? {'background-color': '#343a40', 'color': 'white'} : {'color': 'black'}" ng-click="selectQuestion(x)">{{ x.id }}</a>
                    </p>
                </th>
                <!-- <th class="displaycol" ng-style="{'width': 'auto', 'position': 'relative'}" ng-init="questionPosition=0"> -->
                <th class="displaycol">
                    <!-- <ng-include src="'static/angulartemplates/' + subject + '/' + selectedQuestion + '.html'" ng-style="{'position': 'absolute', 'top': questionPosition + 'px'}"></ng-include> -->
                    <ng-include src="'static/angulartemplates/' + subject + '/' + selectedQuestion + '.html'"></ng-include>
                </th>
            </tr>
        </table>
    </div>
</body>
</html>
