<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset='utf-8'>
    <title>Generated</title>
    <!-- <link rel="stylesheet" media="all" href="static/assets/application-746ec5d03ead8d9e8b3bb7d32173f2b4e2e22a05f0c5278e086ab55b3c9c238e.css" />
    <link rel="stylesheet" media="print" href="static/assets/print-6da094505524acaa25ea39a4dd5d6130a436fc43336c0bb89199951b860e98e9.css" />
    <script src="static/assets/application-3c91afd8a2942c18d21ed2700e1bdec14ada97f1d3788ae229315e1276d81453.js"></script> -->
    <link rel="stylesheet" href="static/css/generated.css" />
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML-full"
        async></script>
</head>
<body class='teacher questions-show'>
<h3>Q1</h3>
<div class='question' style='padding-left: 20px;'>
<p>(i) <em>L</em>=4&lambda; or \(\lambda&nbsp; = \frac{L}{4}\);</p>
<p>(ii) two antinodes labelled;<br />with separation of integral number of wavelengths;</p>
<div class='question_part_label'>a.</div>
</div>
<div class='question' style='padding-left: 20px;'>
<p><em>f &lambda;</em> is the speed of the wave;<br />standing wave formed by interference of an incident and a reflected progressive wave;<br />speed is the speed of this progressive wave;</p>
<div class='question_part_label'>b.</div>
</div>

<h3>Q2</h3>
<div class='question' style='padding-left: 20px;'>
<p>particles have an associated wavelength;<br />wavelength=\(\frac{h}{{mv}}\) or \(\frac{h}{{p}}\); <em>(symbols must be defined)</em></p>
<div class='question_part_label'>a.</div>
</div>
<div class='question' style='padding-left: 20px;'>
<p>\(\lambda&nbsp; = \frac{h}{{\sqrt {2{\rm{meV}}} }}\);<br />8.3&times;10<sup>&minus;13</sup>m;</p>
<div class='question_part_label'>b.</div>
</div>
<div class='question' style='padding-left: 20px;'>
<p>(Heisenberg suggests that) &Delta;<em>p</em>&Delta;<em>x</em> is a constant <em><strong>or&nbsp;</strong></em>\( \ge \frac{h}{{4\pi }}\); <br />if <em>&lambda;</em> is known then &Delta;<em>p</em> is zero therefore uncertainty in position &Delta;<em>x</em> is infinite/very large;<br /><em>Award <strong>[1 max]</strong> if &Delta;p and &Delta;x not defined.</em></p>
<p><em><strong>or</strong></em></p>
<p>(the Uncertainty Principle states that) it is impossible to know the position and momentum of a particle at the same time;<br />if &lambda; is precise then momentum is precise so position is not known;</p>
<div class='question_part_label'>c.</div>
</div>

<h3>Q3</h3>
<div class='question' style='padding-left: 20px;'>
<p>particles have an associated wavelength;<br />wavelength=\(\frac{h}{{mv}}\) or \(\frac{h}{{p}}\); <em>(symbols must be defined)</em></p>
<div class='question_part_label'>a.</div>
</div>
<div class='question' style='padding-left: 20px;'>
<p>\(\lambda&nbsp; = \frac{h}{{\sqrt {2{\rm{meV}}} }}\);<br />8.3&times;10<sup>&minus;13</sup>m;</p>
<div class='question_part_label'>b.</div>
</div>
<div class='question' style='padding-left: 20px;'>
<p>(Heisenberg suggests that) &Delta;<em>p</em>&Delta;<em>x</em> is a constant <em><strong>or&nbsp;</strong></em>\( \ge \frac{h}{{4\pi }}\); <br />if <em>&lambda;</em> is known then &Delta;<em>p</em> is zero therefore uncertainty in position &Delta;<em>x</em> is infinite/very large;<br /><em>Award <strong>[1 max]</strong> if &Delta;p and &Delta;x not defined.</em></p>
<p><em><strong>or</strong></em></p>
<p>(the Uncertainty Principle states that) it is impossible to know the position and momentum of a particle at the same time;<br />if &lambda; is precise then momentum is precise so position is not known;</p>
<div class='question_part_label'>c.</div>
</div>

<h3>Q4</h3>
<div class='question'>
<p>D</p>
</div>

<h3>Q5</h3>
<div class='question'>
<p>A</p>
</div>

</body>
</html>
